.ex4atv3_container {
    display: flex;
    justify-content: space-between;
}

[class*=ex4atv3_box-] {
    width: 80px;
    height: 80px;

}

.ex4atv3_box-1 {
    background-color: red;
}

.ex4atv3_box-2 {
    background-color: blue;
}

.ex4atv3_box-3 {
    background-color: yellow;
}

.ex4atv3_box-4 {
    background-color: green;
}

.ex4atv3_box-5 {
    background-color: purple;
}

.ex4atv3_box-6 {
    background-color: steelblue;
}
